h1{
    font-family: var(--font-family);
    font-size : 3vw;
}

h2{
    font-family: var(--font-family);
    font-size : 2.5vw;
}

h3{
    font-family: var(--font-family);
    font-size : 2vw;
}

h4{
    font-family: var(--font-family);
    font-size : 1.5vw;
}

h5{
    font-family: var(--font-family);
    font-size : 1vw;
}

p{
    font-family: var(--font-family);
    font-size : 0.5vw;
}

input{
    font-size: 1.5vw;
}