h1{
    font-family: var(--font-family);
    font-size : 3vh;
}

h2{
    font-family: var(--font-family);
    font-size : 2.5vh;
}

h3{
    font-family: var(--font-family);
    font-size : 2vh;
}

h4{
    font-family: var(--font-family);
    font-size : 1.5vh;
}

h5{
    font-family: var(--font-family);
    font-size : 1vh;
}

p{
    font-family: var(--font-family);
    font-size : 0.5vh;
}

input{
    font-size: 1.5vh;
}