
.formAddEvent{
    background: var(--primary_1);
    position: absolute;
    margin-left: 59vw;
    margin-top: -10.4vh;
    box-shadow: var(--box-shadow-nav);
    padding: 1vh;
    height: 98vh;
    width : 35vw;
}


.formAddEventBtnQuit{
    font-size: 3vh;
    transition : all 0.3s;
    &:hover{
        color :white;
    }
}

.formAddEventChamp{
    height: 4vh;
    margin: 1vh;
    border-radius: 10px;
    border: 0px solid;
    box-shadow: var(--box-shadow);
}

.formAddEventChampTitre{
    margin-top: 2vh;
    width:32.6vw;
}

.formAddEventChampDetail{
    width:32.6vw;
    height: 20vh;
    font-size: 2vh;
}

.formAddEventChampBtn{
    width:32.6vw;
    transition: all 0.3s;
    &:hover{
        background: #3a6186;
    }
}

.types2{
    width: 100%;
    display: grid;
    grid-template-columns: 6vw 14vw 14vw;
    text-align: center;
    align-items: center;
    height:6vh;
}

.types{
    width: 100%;
    display: grid;
    grid-template-columns: 6vw 28vw;
    text-align: center;
    align-items: center;
    height:6vh;
}