.App{
    background: var(--primary_1);
    width : 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 5vw 94vw;
    word-wrap: break-word;
}

.page{
    background: white;
    height: 90vh;
    margin-top: 5vh;
    border-radius: 10px;
    box-shadow: var(--box-shadow-nav);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top : 1vh;
    padding-bottom : 1vh;
}


.myLayout{
    display: grid;
    grid-template: 5vw;
    height: 80vh;
    margin-top: 10vh;   
}

.btnMenu
{
    text-align: center;
    background: transparent;
    border: 0px solid transparent;
    color:black;
    transition: background-color 0.3s, color 0.3s;
    font-size: 4vh;
    &:hover{
        color: white;
    }
}
