.appFormConnection{
    background: var(--primary_1);
    width : 100vw;
    height: 100vh;
}

.appFormConnectionListeChamps{
    display: grid;
    grid-template-columns: 30vw;
    margin-left: 35vw;
    text-align: center;
    color: white;
}

.appFormConnectionMail{
    margin: 1vh;
    height: 3vh;
    padding: 1vh;
    border-radius: 10px;
    border: 0px solid;
    box-shadow: var(--box-shadow-nav);
}

.appFormConnectionPassword{
    margin: 1vh;
    height: 3vh;
    padding: 1vh;
    border-radius: 10px;
    border: 0px solid;
    box-shadow: var(--box-shadow-nav);

}

.appFormConnectionBtn{
    margin: 1vh;
    height: 5vh;
    padding: 1vh;
    border-radius: 10px;
    border: 0px solid;
    box-shadow: var(--box-shadow-nav);
}