.ArgentMouvementArgent{
    margin:0px;
    padding:0px;
    border: 0px;
    width:100%;
    display: grid;
    grid-template-columns: 40% 30% 10% 20%;
    text-align: center;
    box-shadow: var(--box-shadow-nav);
    opacity: 80%;
    transition: all 0.3s;
    &:hover{
        opacity: 100%;
    }
}

.ArgentMouvementArgentTitre{
    margin:0px;
    padding:0.5vh;
    border: 0px;

}

.ArgentMouvementArgentArgent{
    margin:0px;
    padding:0.5vh;
    border: 0px;
}

.ArgentMouvementArgentDate{
    margin:0px;
    padding:0.5vh;
    border: 0px;
}