.Profile{
    width : 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;   
}

.ProfileForm{
   // background-color: red;
    //width: 20vw;
}

.ProfileFormInput{
    font-size: 15px;
    width: 20vw;
    padding: 1vh;
    margin: 1vh;
    border: 1px solid var(--primary_4);
    border-radius: 10px;
}

.ProfileFormInputBtn{
    transition: all 0.3s;
    &:hover{
        background: var(--primary_4);
        color : #fff;
    }
}

.ProfileFormImgProfile{
    height:10vh;
    border-radius: 40px;
    margin: 1vh;
    margin-left: 5vw;
    box-shadow: var(--box-shadow-nav);
}

.ProfileFormInputNom{

}
.ProfileFormInputPrenomProfile{

}
.FormInputDateNaissance{

}
.ProfileFormInputAdress{

}
.ProfileFormInputMail{

}
.ProfileFormInputTel{

}
.ProfileFormInputLinkedin{

}
.ProfileFormInputGithub{

}
.ProfileFormInputCoddingGame{

}
.ProfileFormInputStatu{

}
.ProfileFormInputSolde{

}